.contact-form {
    margin-top: 50px;
    margin: 50px 100px;
    box-shadow: 2px 2px 12px 6px rgba(0,0,0,0.2);
    width: 80%;
    padding: 20px;
  }
  
  .contact-form h2 {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 20px;
    padding-left: 200px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input[type="text"],
  .form-group input[type="email"],
  .form-group textarea {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .form-group textarea {
    height: 100px;
  }
  
  button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 10px auto;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3;
  }
  